html,
body, #root {
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.tooltip > .header {
  margin-bottom: 10px;
}
.tooltip > p {
  display: flex;
  align-items: center;
}
.tooltip > p > span {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 5px;
}
.tooltip[data-color='upColor'] > p > span {
  background-color: #ec0000;
}
.tooltip[data-color='downColor'] > p > span {
  background-color: #0A7DF2;
}
.tooltip > p > .price { 
  background-color: rgb(255, 70, 131);
}
.tooltip > p > .foreign { 
  background-color: rgba(0, 0, 0, 0.2);
}
.tooltip > p > b {
  font-weight: 600;
  margin-left: 14px;
}


.dart_tooltip > p > b {
  font-weight: 600;
  margin-left: 4px;
}

